.all {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}
.encabezado {
  position: absolute;
  top: 0;
  left: 0;
  background: #fd9727;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-top: 3px;
}
.sidebar {
  position: absolute;
  top: 0;
  background: #383e5f;
  margin-top: 0px;
  padding-top: 10px;
  width: 220px;
  height: 100%;
}
.sidebar a {
  display: block;
  color: #fd9727;
  font-weight: bold;
  padding-left: 20px;
  line-height: 41px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding-left: 13px;
  height: 38px;
}
.sidebar a:hover {
  background: #060c2d;
  color: #fd9727;
}

.sidebar a span {
  display: inline;
  margin-left: 15px;
}
.sidebar .cabecera .label {
  display: inline;
}
.entrada {
  position: relative;
  left: 230px;
}
.nombre {
  position: relative;
  left: 220px;
  padding-top: 4px;
}

.link {
  position: absolute;
  left: 92%;
  padding-top: 7px;
  color: #060c2d;
}
.link:hover {
  color: #383e5f;
}
.carrera {
  position: relative;
  left: 2px;
  width: 50px;
  height: 50px;
}
.label {
  color: white;
  position: absolute;
  left: 80px;
  top: 25px;
}
.cabecera {
  display: flex;
  align-items: center;
  border-bottom: groove;
  font-family: "arial black";
  width: 220px;
}
.perfil {
  width: 80px;
  height: 80px;
  position: relative;
  left: 65px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 50px;
}
.linkPerfil {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.linkEstudiantes {
  position: absolute;
  bottom: 85px;
  width: 100%;
}
.linkDocentes {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.SmallLe {
  background: blue;
  word-wrap: break-word;

  width: 150px;
  line-height: 16px;
  color: white;
  font-size: 14px;
}
.te {
  display: inline;
}
.iconobar {
  width: 20px;
  height: 20px;
}
