.horaTop {
  height: 100%;
  padding: 2%;
}
.inputHor {
  height: 100px;
  background: #d9d9d9;
  border-radius: 10px;
  width: 70%;
  margin-left: 10%;
  margin-top: 2%;
}
.btnDelete {
  float: right;
  border-radius: 10px;
  background: #fd9727;
  width: 200px;
  margin-top: 10px;
}
.btnGuar {
  float: left;
  border-radius: 10px;
  background: #fd9727;
  width: 200px;
  margin-top: 10px;
}
.tableScroll {
  position: relative;
  height: 100%;
  overflow: auto;
  margin-top: 2%;
  width: 100%;
  border-radius: 10px;
}
.scroa {
  display: block;
}
.Tabla {
  height: 58%;
}
