.contenido {
  /*width: 95.6%;*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: #d9d9d9;
  padding-top: 30px;
  padding-left: 245px;
}
.Principal2 {
  margin-top: 23px;
  border-radius: 5px;
  background: white;
  border-radius: 20px;
  height: 95%;
  width: 98%;
  /* IMPORTANTE */
}
