.fondo {
  background: url("../images/backSimple.JPG");
  background-size: cover;
  display: block;
  min-height: 100vh;
}
.log {
  height: 200px;
  position: absolute;
  left: 85%;
  top: 0px;

  /*padding-top: 40px; ojo*/
}
.bar {
  background-color: #060c2d;
  padding: 8px;
  padding-left: 25px;
  margin-top: 50px;
  position: absolute;
  height: 60px;

  width: 100% !important;
}
.logo {
  position: absolute;
  bottom: 80;
  left: 20;
  width: 180px;
  height: 180px;
  float: right;
}
.logins {
  justify-content: center;
  align-items: center;
  padding-top: 13%;
  display: flex;
}
.tarjeta1 {
  background-color: #efefef;
  height: 391px;
  width: 285px;
  border-radius: 20px;
  margin-right: 40px;
  border-color: #060c2d;
  border-style: groove;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 40px;
}
.columnas {
  display: block;
  margin: 10px;
  font-family: "Arial black";
  color: #060c2d;
  text-align: center;
}
