.bod {
  background: url("../images/MainBackground.JPG");
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.h1 {
  color: #fd9727;
  font-family: "Bauhaus 93";
  font-size: 70px;
  position: relative;
}
.h3 {
  color: #fff;
  font-family: fantasy;
  position: relative;
}
.p {
  color: #fff;
  width: 700px;
}
.Centrar {
  text-align: center;
}
.btna {
  background-color: #fd9727;
  color: #fff;
  font-family: fantasy;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
}
.btna span {
  color: #fff;
}
