.partTopTutor {
  height: 45%;
  background: #efefef;
  width: 70%;
  margin-top: 1%;
  padding: 10px;
  padding-top: 4.5%;
  border-radius: 10px;
  margin-left: 2%;
  border-style: groove;
}
.partBotTutor {
  width: 95%;
  height: 41%;
  margin-top: 0%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 2%;
}
.lblTuAsignado {
  padding-left: 2%;
  padding-top: 0.5%;
}
.cardImagenPerfil {
  position: absolute;
  left: 78%;
  width: 18%;
  top: 14%;
  height: 38%;
  border-radius: 50%;
  border-style: groove;
}
.celda {
  margin-left: 10%;

  height: 80%;
}
.btnCambiarTutor {
  position: absolute;
  left: 87%;
  top: 87%;
  border-radius: 50px;
  background: #ed9b40;
  height: 50px;
  width: 90px;
}
