.partTopMenu {
  height: 40%;
  background: #d9d9d9;
  padding: 1%;
  margin: 1%;
  border-radius: 20px;
}
.partBotMenu {
  height: 40%;
  background: #d9d9d9;
  padding: 1%;
  margin: 1%;
  border-radius: 20px;
}
.scrollbar {
  position: relative;
  height: 98%;
  border-radius: 20px;
  overflow: auto;
  width: 100%;
}
.table-scroll {
  display: block;
}
