.partTop {
  background: #d9d9d9;
  height: 65%;
  width: 97%;
  margin-top: 0%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 1.5%;
}
.lbltop {
  padding-left: 2%;
  padding-top: 1%;
}
.partBot {
  height: 28%;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 98%;
}
.perfilAyudante {
  width: 120px;
  height: 120px;
  position: relative;
  top: 24%;
  left: 10%;
  border-style: groove;
  border-radius: 70px;
}
.lblDatosAyudante {
  position: absolute;
  top: 73%;
}
.datosAyudante {
  position: absolute;
  left: 40%;
  top: 76%;
  width: 55%;
  height: 18%;
  background: #d9d9d9;
  border-radius: 20px;
  padding: 15px;
  padding-top: 27px;
}
.cuadroDatos {
  display: inline;
}
.lblda {
  padding-left: 5%;
}
.my-custom-scrollbar {
  position: relative;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.table-wrapper-scroll-y {
  display: block;
}
