.dropwdowns {
  padding: 2%;
  height: 11%;
}
.AsistenciaPart {
  background: #efefef;
  height: 40%;
  margin: 1%;
  padding: 2%;
  border-radius: 20px;
}
.ResumenPart {
  background: #efefef;
  height: 43%;
  margin: 1%;
  padding: 2%;
  border-radius: 20px;
}

.switchlbl {
  margin-left: 15%;
  margin-right: 2%;
}
.lblDescripcion {
  padding-top: 2%;
  padding-left: 10%;
}
.scroll {
  position: relative;
  height: 50%;
  overflow: auto;
  margin-top: 1%;
  width: 100%;
  border-radius: 0px;
}
.scrollBar {
  display: block;
}
.btnEnviarQuince {
  position: relative;
  left: 80%;
  top: 2%;
  border-radius: 20px;
  width: 20%;
  height: 30px;
  background: #ed9b40;
}
